---
import Heading from "@/components/Heading.astro";
import Post from "@/components/Post.astro";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import { generateTitle } from "@/utils/generateTitle";
import { getTags } from "@/utils/getTags";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

export const getStaticPaths = (async () => {
	const tags = await getTags();
	return Array.from(tags).map(([key, posts]) => ({
		params: { tag: key },
		props: { posts },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<GlobalLayout title={generateTitle(tag, 'タグ一覧')}>
  <Heading class="mb-8">{tag} 一覧</Heading>
  <div class="grid gap-8">
    {posts.map(post => (
      <Post post={post} heading="h2">
        <p class='mt-1 text-sm line-clamp-3'>{post.data.description}</p>
      </Post>
    ))}
  </div>
</GlobalLayout>