---
import Heading from "@/components/Heading.astro";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import { generateTitle } from "@/utils/generateTitle";
import { getTags } from "@/utils/getTags";

const tags = await getTags();
---
<GlobalLayout title={generateTitle('タグ一覧')}>
  <Heading class="mb-8">タグ一覧</Heading>
  <ul class="grid gap-2">
    {Array.from(tags).map(([key, value]) => (
      <li class="grid gap-1">
        <a href={`/tags/${key}`} class="underline text-xl">{key}</a>
        <span class="text-sm">{value.length} posts</span>
      </li>
    ))}
  </ul>
</GlobalLayout>