---
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import { getPosts } from "@/utils/getPosts";

const posts = await getPosts();
---

<GlobalLayout>
	<main>
		<ul>
			{posts.map(post => (
				<li>
					<a href={`/posts/${post.slug}`}>{post.data.title}</a>
				</li>
			))}
		</ul>
	</main>
</GlobalLayout>