---
import { getCollection } from "astro:content";
import GlobalLayout from "@/layouts/GlobalLayout.astro";

const posts = (await getCollection("posts")).sort(
	(a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
);
---

<GlobalLayout>
	<main>
		<ul>
			{posts.map(post => (
				<li>
					<a href={`/posts/${post.slug}`}>{post.data.title}</a>
				</li>
			))}
		</ul>
	</main>
</GlobalLayout>