---
import Post from "@/components/Post.astro";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import { generateTitle } from "@/utils/generateTitle";
import { getPosts } from "@/utils/getPosts";

const posts = await getPosts();
---

<GlobalLayout title={generateTitle('ホーム')}>
	<main>
		{posts.map(post => (
			<Post post={post}>
				<p class='mt-1 text-sm line-clamp-3'>{post.data.description}</p>
			</Post>
		))}
	</main>
</GlobalLayout>