---
import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---
<article class="prose dark:prose-invert prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg">
  <h1>{post.data.title}</h1>
  <div>
    <span>作成日：{post.data.createdAt}</span>
    <span>更新日：{post.data.updatedAt}</span>
  </div>
  <div>
    {post.data.tags.map((tag) => <span>#{tag}</span>)}
  </div>
  <slot />
</article>