---
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { config } from "@/config";
import { SEO } from "astro-seo";

interface Props {
	title: string;
	desc?: string | undefined;
}

const { title, desc } = Astro.props;
---
<html lang="ja" class="h-full">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      charset="utf-8"
      title={title}
      description={desc ?? config.description}
    />

    <ViewTransitions />

    <!-- dark mode -->
    <script>
      import { astroPageLoader } from "@/utils/astroPageLoader";

      astroPageLoader(() => {
        if (
          localStorage.getItem('dark-mode') === 'true' ||
          (!('dark-mode' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          localStorage.setItem('dark-mode', 'true');
          document.querySelector('html')?.classList.add('dark');
        } else {
          localStorage.setItem('dark-mode', 'false');
          document.querySelector('html')?.classList.remove('dark');
        }
      });
		</script>
  </head>
  <body class="h-full max-w-screen-md mx-auto px-4 bg-neutral-100 text-neutral-950 dark:bg-neutral-800 dark:text-neutral-100">
    <Header />
    <slot />
    <Footer />
  </body>
</html>